
EXT_PACKAGES_NAME[8]="shortcut-fe"
EXT_PACKAGES_PATH[8]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[8]="package"

EXT_PACKAGES_NAME[16]="luci-app-turboacc"
EXT_PACKAGES_PATH[16]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[16]=""

EXT_PACKAGES_NAME[19]="luci-app-diskman"
EXT_PACKAGES_PATH[19]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[19]=""
""
EXT_PACKAGES_NAME[25]="luci-app-openclash"
EXT_PACKAGES_PATH[25]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[25]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[25]=""
